@model IEnumerable<places4all.Models.FavPlace>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavPlaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavPlaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavPlaceId })
        </td>
    </tr>
}

</table>
