
@{
    ViewBag.Title = "Index";
}

<head>
    @Styles.Render("~/Content/AboutUs/css")
    @Scripts.Render("~/Scripts/AboutUs/js")
</head>
<script>
    $(document).ready(function () {
        $(".langSelector").click(function () {
            $.cookie('p4alllang', 'en-US', { expires: new Date(2500, 1, 1), path: '/' });
            return true;
            $.ajax({
                url: "/LanguageServerErrorsUtils/SetLanguage/en",
                type: "POST",
                dataType: 'text',
                contentType: "application/json",
                success: function (response) {
                    location.reload();
                }
            });
        });
    });

</script>

<body>
    <div class="container-fluid header">

        <!-- Navigation -->
        <div class="row visible-xs">

            <div class="col-xs-12">
                <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="http://places4all.com/p4all/Auth/Logout?returnUrl=%2Fsite%2Faboutus%2F">Logout</a></li>
                        <li><a href="http://places4all.com/p4all/Auth/UserPage/110025">Bem-vindo, Diogo Barroso</a></li>

                        <li class=""><a href="./about_us_files/about_us.html" class="langSelector">English</a></li>
                        <li><a href="http://places4all.com/p4all/AdhereNetwork/AdhereNetwork" class="btn btn-primary">Adicionar lugar</a></li>
                    </ul>
                </nav>

                <div class="navbar navbar-default navbar-fixed-top clearfix">
                    <div class="logo pull-left show-xs">
                        <a href="http://places4all.com/">
                            <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                        </a>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden-xs">

            <div class="logo small col-sm-2 col-lg-1">
                <a href="http://places4all.com/">
                    <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
                </a>
            </div>

            <div class="col-xs-6 col-sm-10 col-lg-11">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="index.php">Places4All</a> -->
                        </div>
                        <form action="http://places4all.com/p4all/search" method="get">
                            <div class="navbar-form navbar-left hidden-sm" role="search">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" class="form-control" id="search" name="q" placeholder="O que procura?" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </form>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">


                                <li><a href="http://places4all.com/p4all/Auth/Logout?returnUrl=%2Fsite%2Faboutus%2F">Logout</a></li>
                                <li><a href="http://places4all.com/p4all/Auth/UserPage/110025">Bem-vindo, Diogo Barroso</a></li>




                                <li class=""><a href="./about_us_files/about_us.html" class="langSelector">English</a></li>
                                <li>
                                    <form class="navbar-form">
                                        <a href="http://places4all.com/p4all/AdhereNetwork/AdhereNetwork" class="btn btn-primary">Adicionar lugar</a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>




            </div>
        </div>


    </div>

    <div class="main">



        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Quem somos</h1>
                    </div>
                </div>
            </div>
        </div>




        <div class="nav-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 text-center">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active"><a href="http://places4all.com/site/aboutus/#">Quem somos</a></li>
                            <li role="presentation"><a href="http://places4all.com/site/blog/">Blog</a></li>
                            <li role="presentation"><a href="http://places4all.com/site/media/">Media</a></li>
                            <li role="presentation"><a href="http://places4all.com/site/partners/">Parceiros</a></li>
                            <li role="presentation"><a href="http://places4all.com/p4all/Contact/Comment">Contactos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row full-height">
                <div class="col-xs-12 col-md-3 nav-container hidden-xs">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- <li role="presentation"><a href="#" onclick="$('#quemsomos').animatescroll();">Quem somos</a></li> -->
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#visao&#39;).animatescroll();">Visão</a></li>
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#missao&#39;).animatescroll();">Missão</a></li>
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#valores&#39;).animatescroll();">Valores</a></li>
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#inclusao-social&#39;).animatescroll();">Inclusão social</a></li>
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#equipa&#39;).animatescroll();">Equipa</a></li>
                        <li role="presentation"><a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;#avaliadores&#39;).animatescroll();">Bolsa de avaliadores</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12" id="quemsomos">
                            <p style="text-align: center;"><img style="width: 500px; height: 336.3333333333333px;" src="~/Content/Images/places4all.png" alt="undefined" rel="13821"><img style="width: 0px; height: 0px;" src="~/Content/Images/places4all(1).png" alt="undefined" rel="13820"></p>
                            <p>&nbsp;</p>
                            <p>O <strong>Places4All</strong> é um Sistema de Classificação de Acessibilidade em espaços físicos e que visa encontrar, reconhecer e divulgar informação dos espaços ou eventos com as melhores condições de acessibilidade e que garantem o maior grau de autonomia ao maior número de pessoas possível, promovendo a igualdade de oportunidades na mobilidade e escolha a todas as pessoas com autonomia condicionada, especialmente pessoas com desafios de mobilidade, visuais, auditivos e cognitivos.</p>
                            <p>Todo o processo começa com a avaliação rápida e detalhada do <strong>ambiente físico</strong>, <strong>sensorial</strong> e <strong>social</strong> em 6 dimensões do lugar (estacionamento, percurso exterior, entrada, percurso interior, bens e serviços e WC) e que garantem o conforto, autonomia e segurança ao utilizador.</p>
                            <p>Podem aderir todos os proprietários de espaços abertos ao público (alojamento, comércio, cultura e lazer, eventos, restauração, saúde e serviços) ou empresas que queiram diferenciar-se na sua cidade ou região através das boas práticas relativamente às condições de acessibilidade existentes.</p>
                            <p>O Places4All é um projeto da <a href="http://www.immensa.org/">Associação IMMENSA</a>, uma organização que desenvolve soluções de inovação social que contribuam para a inclusão de todas as pessoas nas cidades. O projeto conta com o apoio do Social Lab da Fundação EDP.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" id="visao">
                            <h3 class="bold">Visão</h3>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <p>Todas os lugares devem garantir a igualdade de oportunidades na mobilidade e escolha a todos os seus residentes e não residentes.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" id="missao">
                            <h3 class="bold">Missão</h3>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <p>Promover a igualdade de oportunidades no acesso a espaços físicos a todas as pessoas através da informação.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12" id="valores">
                            <h2 class="slab text-center">Valores</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">

                            <div class="bg-photo">
                                <img src="./about_us_files/photo-1416339684178-3a239570f315.jpeg" alt="photo-1416339684178-3a239570f315jpeg">

                                <h4>Rigor e Competência</h4>
                            </div>
                            <hr class="clear visible-xs">

                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">

                            <div class="bg-photo">
                                <img src="~/Content/Images/sec.jpg" alt="secjpg">

                                <h4>Credibilidade e Compromisso</h4>
                            </div>
                            <hr class="clear visible-xs">


                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">

                            <div class="bg-photo">
                                <img src="~/Content/Images/third.jpg" alt="thirdjpg">

                                <h4>Inovação Social e Criatividade</h4>
                            </div>


                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12" id="inclusao-social">

                            <h2 class="slab text-center">Inclusão social</h2>

                        </div>
                    </div>

                    <div class="row features">
                        <div class="col-xs-12 col-sm-6 text-center">
                            <img src="~/Content/Images/noun_112481.png" alt="noun_112481png" class="img-responsive center-block">

                            <h4 class="bold">Comunicação</h4>
                            <p>realizada em todos os formatos, de forma a que possa ser entendida por todos e que possa chegar a todos</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center">
                            <img src="~/Content/Images/noun_51143.png" alt="noun_51143png" class="img-responsive center-block">

                            <h4 class="bold">Empregabilidade</h4>
                            <p>prezamos por criar condições que garantam autonomia a todas as pessas, independentemente dos seus desafios</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12" id="equipa">
                            <hr>
                            <h2 class="slab text-center">Equipa</h2>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1035/hugovilela.jpg&#39;)"></div>
                            <h4 class="bold">Hugo Vilela</h4>
                            <p>Coordenador geral</p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1037/manuelguedes.jpg&#39;)"></div>
                            <h4 class="bold">Manuel Guedes</h4>
                            <p>Coordenador técnico arquitecto</p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1036/miguelcosta.jpg&#39;)"></div>
                            <h4 class="bold">Miguel Costa</h4>
                            <p>Coordenador financeiro</p>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1146/10960340_1542321379356232_2207985732765414311_o-1.jpg&#39;)"></div>
                            <h4 class="bold">Catarina Viana</h4>
                            <p>Técnica de Comunicação e Marketing</p>
                        </div>


                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12" id="avaliadores">

                            <h2 class="slab text-center">Bolsa de avaliadores</h2>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1172/254204_234091786608258_7238778_n.jpg&#39;)"></div>
                            <h4 class="bold">Pedro Monteiro</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1173/11748836_946763202011978_1546333998_n.jpg&#39;)"></div>
                            <h4 class="bold">Marlene Oliveira</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1231/11845964_10153383273270342_2044006135_n.jpg&#39;)"></div>
                            <h4 class="bold">Cristiano Magalhães</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1243/11924705_1120072884673898_1013421347_n.jpg&#39;)"></div>
                            <h4 class="bold">Pedro Clara</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1040/madalenabrandao.jpg&#39;)"></div>
                            <h4 class="bold">Madalena Brandão</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1039/carinabrandao.jpg&#39;)"></div>
                            <h4 class="bold">Carina Brandão</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1253/carlos.jpg&#39;)"></div>
                            <h4 class="bold">Carlos Nogueira</h4>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="avatar" style="background-image:url(&#39;/media/1292/12202158_921959441186789_1020389256_n.jpg&#39;)"></div>
                            <h4 class="bold">Rui Machado</h4>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <a href="http://places4all.com/site/aboutus/#" onclick="$(&#39;body&#39;).animatescroll();" class="btn btn-default pull-right"><i class="fa fa-angle-up"></i> Voltar ao topo</a>
                            <hr class="clear">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row visible-print-inline">
        <div class="col-xs-12">
            <img src="~/Content/Images/logo-small.png" alt="Places4All" class="img-responsive">
        </div>
    </div>

    <footer>
        <div class="container hidden-print">
            <div class="row">

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">Places4All</label>
                    <ul class="list-unstyled">
                        <li><a href="./about_us_files/about_us.html">Quem somos</a></li>
                        <li><a href="http://places4all.com/site/blog/">Blog</a></li>
                        <li><a href="http://places4all.com/site/media/">Media</a></li>
                        <li><a href="http://places4all.com/site/partners/">Parceiros</a></li>
                        <li><a href="http://places4all.com/p4all/Contact/Comment">Contactos</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-sm-2 col-lg-2">
                    <label class="bold">Como funciona</label>
                    <ul class="list-unstyled">
                        <li><a href="http://places4all.com/site/howitworks/#methodology">Metodologia</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#WhoCanJoin">Quem pode aderir</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#badge">O dístico</a></li>
                        <li><a href="http://places4all.com/site/howitworks/#advantages">Vantagens</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <form>
                        <div class="form-group">
                            <label class="bold">Subscreva a nossa newsletter</label>
                            <input class="form-control dark" type="email" placeholder="Insira o seu email">
                        </div>
                        <button type="submit" class="btn btn-dimmed">Subscrever</button>
                    </form>
                    <ul class="list-inline social">
                        <li><a href="https://www.facebook.com/placesforall" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCpHn0NRhBpp6XwhNGpiC9-A" class="fa fa-youtube"></a></li>
                        <li><a href="https://plus.google.com/u/2/115813301172670932974/posts" class="fa fa-google-plus"></a></li>
                        <li><a href="https://www.linkedin.com/company/9291191?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9291191%2Cidx%3A1-1-1%2CtarId%3A1441017666792%2Ctas%3Aplaces4all" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 powered hidden-print">
                    <label class="bold block">Powered by</label>
                    <a href="http://www.immensa.org/">
                        <img src="~/Content/Images/IMMENSA.png" class="show img-responsive" alt="Immensa" style="max-width:150px">
                    </a>
                </div><a href="http://www.immensa.org/">

                </a>
            </div><a href="http://www.immensa.org/">

                <div class="row">
                    <div class="col-xs-12 copyright">
                        © 2015 Places4All, todos os direitos reservados
                    </div>
                </div>
            </a>
        </div><a href="http://www.immensa.org/">
        </a>
    </footer><a href="http://www.immensa.org/">
    </a><div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
</body>

