<!--
<label>Search: <input ng-model="searchText"></label>
<table id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="friend in friends | filter:searchText">
    <td>{{friend.name}}</td>
    <td>{{friend.phone}}</td>
  </tr>
</table>
-->


<ion-view>
  <ion-content class="grey_bck">
     <ion-list class="col col-75 col-offset-10">
       <!--<ion-item ng-repeat="places in Places | filter: searchKeyword ">-->
       <ion-item class="list_places">
       <a href="#/app/place" class="row simple_anchor">
        <div class="col col-66">
         <h2 class="grey_color">Nome place</h2>
         <p>morada</p>
         <h3>rate</h3>
         <div class="col col-20 img_div">
             <img src="img/place_teste.jpg" alt="">
         </div>
         </div>
         </a>
       </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
